
.forgetpassword {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
  
  
.color-primary
{
    color: #7539FF;
}

.divider {
  margin-top: 5% !important;
}


.forget-left {
  margin-left: 5%;
  margin-top: 3%;
  width: 40%;
  height: 100%;
  margin-right: 10%;
}
.forget-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}
.forget-box {
  margin-top: 15%;
}
.forget-form {
  margin-top: 5%;
}
.input {
  height: 48px;
  background-color: #EFF4FB;
  border-color: #DDE4F0;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;

  border-radius: 4px;
}
.input:hover {
  background-color: white;
}
.input:focus{
    background-color: white;
}
.checkbox{
    font-weight: 400;
}
.flex{
    margin-bottom: 5%;
}

.filler{
    /* margin-top: 2%; */
    padding-bottom: 30%;
}

.signup-toggle{
    transition: 0.1s ease;
    position: relative;
  cursor: pointer;

    
}
.signup-toggle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #9c71ff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.signup-toggle:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  cursor: pointer;
}

