.container-popover{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #D6DDF1
}

#email{
color: grey;
}
.email-container{
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-right: 150px;
    margin-bottom: 10px
 
}
.avatar-popover{
    background-color: #EF5080;
}

.text{
    display: flex;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 100%;
    color: black;
}
.text:hover{
    color:#7A53E8;
    background-color: rgba(252, 252, 252, 0.753);
    transform: scale(1.02);
}